{#
/**
 * @file yabrm_contributor.html.twig
 * Default theme implementation to present Book Section reference data.
 *
 * This template is used when viewing Contributor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book_section()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm-contributor', 'contrib-layout') }}>
  {% if content %}
    <div class="container">
      <div class="row description-pic">
        {% if content.picture|field_value 
          or content.cover 
          or content.birth_year|field_value 
          or content.death_year|field_value 
          or content.nb_residences|field_value 
          or content.nble_url|field_value %}
          <div id="contrib-description" class="col-sm-8">
        {% else %}
          <div id="contrib-description" class="col-sm-12">
        {% endif %}
        {% if content.description|field_value %}
          {{ content.description|field_value }}
        {% endif %}
        {% if content.source|field_value %}
          {{ content.source }}
        {% endif %}
        {%- if content.nb_residences|field_value -%}
          <p id="nb-res-label">Predominant New Brunswick Residences:</p>
          <p><span>
            {%- for i in 0..100 -%} 
              {%- if content.nb_residences[i] -%}
                {%- if not loop.first -%}
                  {{ ", " }}
                {%- endif -%}
                {{ content.nb_residences[i]['#title'] }}
              {%- endif -%}
            {%- endfor -%}
          </span></p>
        {%- endif -%}
        {% if content.archival_note|field_value or content.archival|field_value %}            
          <h2 class="archival-header smaller">Archival Material</h2>
          {% if content.archival_note %}
            {{ content.archival_note }}
          {%- endif -%}
          {% if content.archival|field_value %}
            <ul id="archival-container">
              {% for archival in content.full_archivals %}
                <li class="archival-material">
                  <a href="#" class="archival-collapse" data-bs-toggle="collapse" data-bs-target="#archival-content-{{ loop.index0 }}" aria-expanded="false">
                    {{ archival['#yabrm_contrib_archival'].title.getString() ~ " " }}
                    <div class="archival-caret">&#x2304;</div>
                  </a>
                  <div id="archival-content-{{ loop.index0 }}" class="collapse" data-quickedit-entity-id="yabrm_contrib_archival/{{ archival['#yabrm_contrib_archival'].id() }}">
                    {{ archival }}
                  </div>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endif -%}
      </div>
      <div id="contrib-picture" class="col-sm-4 pl-4">
        {% if content.picture|field_value or content.cover %}
          <figure>
            {% if content.picture|field_value %}
              {{ content.picture|field_value }}
            {% elseif content.cover %}
              {{ content.cover }}
            {% endif %}
            {% if content.pic_caption|field_value %}
              <figcaption>
                {{ content.pic_caption }}
              </figcaption>
            {% endif %}
            {% if content.pic_credit|field_value %}
              {{ content.pic_credit }}
            {% endif %}
          </figure>
        {% endif %}
        {%- if content.nble_url|field_value -%}
          <img src="/themes/custom/bs5_nbbib_lib_unb_ca/src/img/nble-logo.svg" id="nble-logo">
          <p id="nble-url">
            See the
            <a href="{{ content.nble_url|field_value[0]['#title'] }}">
              New Brunswick Literary Encyclopedia
            </a>
              entry.
          </p>
        {%- endif -%}
        <div id="ref-cite">
          <a data-dialog-options="{&quot;width&quot;:500}" data-dialog-type="modal" href="/cite/contributor/{{ content.id }}" id="cite-open" class="use-ajax btn btn-secondary btn-sm fw-normal lh-lg float-end">
            Cite this page
          </a>
        </div>
      </div>
    </div>
    {% set cid = content.name['#object'].id() %}
    {% if drupal_view_result('nb_bibliography_citations', 'page_3', cid, cid, cid, cid)|length > 0 %}
      <div class="row" id="contributor-works">
        <h2 class="works-header">Bibliography Items</h2>
        {{ drupal_view('nb_bibliography_citations', 'page_3', cid, cid, cid, cid) }}
      </div>
    {% endif %}
  </div>
{% endif %}
</div>
