{#
/**
 * @file yabrm_biblio_reference__citation.html.twig
 * Citation view mode theme implementation for Bibliographic Reference data.
 *
 * This template is used when viewing Bibliographic Reference pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_biblio_reference()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm_biblio_reference') }}>

  {%- if content -%}

    <p>
      {%- set months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ] -%}

      {%- set authors = content.authors -%}
      {%- set publication_year = content.publication_year|field_value -%}
      {%- set publication_month = content.publication_month|field_value|number_format -%}
      {%- set publication_day = content.publication_day|field_value -%}
      {%- set title = content.title|field_value -%}
      {%- set publisher = content.publisher|field_value -%}
      {%- set notes = content.notes|field_value -%}

      {%- for author in authors -%}
        {%- if not loop.first -%}
          {{ ', ' }}
          {%- if loop.last -%}
            {{ 'and ' }}
          {%- endif -%}
        {%- endif -%}

        {{ author['last_name'] }}

        {%- if author['first_name'] -%}
          {{ ', ' }}{{ author['first_name']|slice(0,1) }}
        {%- endif -%}

        {{ '.' }}
      {%- endfor -%}

      {%- if title -%}
        {{ ' "' }}{{ title }}{{ '"' }}
      {%- endif -%}

      {%- if publisher -%}
       {{ ' ' }}{{ publisher }}
      {%- endif -%}

      {%- if publication_year -%}
        {{ ', ' }}{{ publication_day }}

        {%- if publication_month > 0 and publication_month < 13 -%}
          {{ ' ' }}{{ months[publication_month] }}{{ '.' }}
        {%- endif -%}

        {{ publication_year }}
      {%- endif -%}

      {%- if url -%}
        {{ ', ' }}{{ url }}
      {%- else -%}
        {{ '.' }}
      {%- endif -%}<br>

      {%- if notes -%}
        {{ notes }}
      {%- endif -%}
    </p>
  {%- endif -%}
</div>
