{#
/**
 * @file yabrm_biblio_reference__citation.html.twig
 * Citation view mode theme implementation for Bibliographic Reference data.
 *
 * This template is used when viewing Bibliographic Reference pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_biblio_reference()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm_biblio_reference') }}>

  {%- if content -%}

    <p>
      {{ content.authors_wad }}
      <a href="/yabrm/{{ content.type_name ~ '/' ~ content.eid }}">
        <i>{{ ' ' ~ content.title_wad }}</i>
      </a>
      {{ content.editors_wad }}
      {{ content.pub_wad }}
      {{ content.notes_wad }}
      <a href="{{ url_wad }}">
        {{ content.url_wad }}
      </a>
    </p>
  {%- endif -%}
</div>
