<div class="container">
  <div class="row clearfix">

    <div id="footer-logo-div" class="col-md-12">
      <a href="">
        <img id="footer-logo-img" class="footer-logo left-block"
        src="/themes/custom/nbbib_lib_unb_ca/images/unb-libraries-white.png"
        alt="UNB Libraries logo">
      </a>
    </div>
  </div>
</div>

{% if content %}
<div id="{{ id }}-wrapper"><footer id="{{ id }}" class="row" role="contentinfo">
  <div{{ attributes }}>
    {{ content }}
  </div>
</footer><div><!-- /#{{ id }}, /#{{ id }}-wrapper -->
{% endif %}
