{#
/**
 * @file yabrm_book.html.twig
 * Default theme implementation to present Book reference data.
 *
 * This template is used when viewing Book reference pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('yabrm_book') }}>
  {% if content %}
    <dl>
      <div>
        <dt>Item Type</dt>
        <dd>Book</dd>
      </div>
      <div>
        <dt>{{ content.contributors|field_label }}</dt>
        <dd>{{ content.contributors|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.title|field_label }}</dt>
        <dd>{{ content.title|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.isbn|field_label }}</dt>
        <dd>{{ content.isbn|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.url|field_label }}</dt>
        <dd>{{ content.url|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.abstract_note|field_label }}</dt>
        <dd>{{ content.abstract_note|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publication_year|field_label }}</dt>
        <dd>{{ content.publication_year|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publication_month|field_label }}</dt>
        <dd>{{ content.publication_month|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publication_day|field_label }}</dt>
        <dd>{{ content.publication_day|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.num_pages|field_label }}</dt>
        <dd>{{ content.num_pages|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.volume|field_label }}</dt>
        <dd>{{ content.volume|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.num_volumes|field_label }}</dt>
        <dd>{{ content.num_volumes|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.short_title|field_label }}</dt>
        <dd>{{ content.short_title|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.series|field_label }}</dt>
        <dd>{{ content.series|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.series_number|field_label }}</dt>
        <dd>{{ content.series_number|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publisher|field_label }}</dt>
        <dd>{{ content.publisher|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.place|field_label }}</dt>
        <dd>{{ content.place|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.language|field_label }}</dt>
        <dd>{{ content.language|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.rights|field_label }}</dt>
        <dd>{{ content.rights|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.archive|field_label }}</dt>
        <dd>{{ content.archive|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.archive_location|field_label }}</dt>
        <dd>{{ content.archive_location|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.library_catalog|field_label }}</dt>
        <dd>{{ content.library_catalog|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.call_number|field_label }}</dt>
        <dd>{{ content.call_number|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.extra|field_label }}</dt>
        <dd>{{ content.extra|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.notes_private|field_label }}</dt>
        <dd>{{ content.notes_private|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.edition|field_label }}</dt>
        <dd>{{ content.edition|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.topics|field_label }}</dt>

        {% set full_topics = "" %}

        {%- for topic in content.topics|field_value -%}
          {% set topic_title = topic['#title'] %}

          {%- if loop.last -%}
            {% set separator = "." %}
          {%- else -%}
            {% set separator = ", " %}
          {%- endif -%}

          {% set full_topics = full_topics ~ topic_title ~ separator %}
        {%- endfor -%}

        <dd>{{ full_topics }}</dd>
      </div>
    </dl>
  {% endif %}
</div>
