{#
/**
 * @file yabrm_contributor.html.twig
 * Default theme implementation to present Book Section reference data.
 *
 * This template is used when viewing Contributor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book_section()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm-contributor', 'contrib-layout') }}>
  {% if content %}
    <div class="container">
      <div class="row description-pic">
        {% if content.description|field_value %}
          <div id="contrib-description" class="col-sm-8">
            {{ content.description|field_value }}
          <div id="contributor-works">
            {% set cid = content.name['#object'].id() %}
            <h2 class="works-label">Bibliography Items</h2>
            {{ drupal_view('nb_bibliography_citations', 'page_3', cid, cid, cid, cid) }}
          </div>
          </div>
        {% endif %}
          <div id="contrib-picture" class="col-sm-4">
        {% if content.picture|field_value or content.cover or content.birth_year or content.death_year %}
            <figure>
              {% if content.picture|field_value %}
                {{ content.picture|field_value }}
              {% elseif content.cover %}
                {{ content.cover }}
              {% endif %}
              {% if content.pic_caption|field_value %}
                <figcaption>
                  {{ content.pic_caption }}
                </figcaption>
              {% endif %}
            </figure>
            {% if content.birth_year or content.death_year %}
              <p><span>
                <b>Dates of Birth and Death: </b>
                {%- if content.birth_year -%}
                  {{ content.birth_year|field_value }}
                {%- endif -%}
                -
                {%- if content.death_year -%}
                  {{ content.death_year|field_value }}
                {%- endif -%}
              </span></p>
            {% endif %}
            {%- if content.nb_residences -%}
              <p><span>
                <b>Predominant New Brunswick Residences: </b>
                {%- for i in 0..100 if content.nb_residences[i] -%}
                  {%- if not loop.first -%}
                    {{ ", " }}
                  {%- endif -%}
                  {{ content.nb_residences[i]['#title'] }}
                {%- endfor -%}
              </span></p>
            {%- endif -%}
            {%- if content.nble_url -%}
              <p><span>
                See the
                <a href="{{ content.nble_url|field_value[0]['#title'] }}">
                  New Brunswick Literary Encyclopedia
                </a>
                 entry.
              </span></p>
            {%- endif -%}
        {% endif %}
          </div>
      </div>
    </div>

  {% endif %}
</div>
