{#
/**
 * @file yabrm_contributor.html.twig
 * Default theme implementation to present Book Section reference data.
 *
 * This template is used when viewing Contributor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book_section()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm-contributor', 'contrib-layout') }}>
  {% if content %}
    <div class="container">
      <div class="row description-pic">
        {% if content.picture|field_value 
          or content.cover 
          or content.birth_year|field_value 
          or content.death_year|field_value 
          or content.nb_residences|field_value 
          or content.nble_url|field_value %}
        <div id="contrib-description" class="col-sm-8">
        {% else %}
        <div id="contrib-description" class="col-sm-12">
        {% endif %}
          {% if content.description|field_value %}
              {{ content.description|field_value }}
          {% endif %}
          {% if content.archival_note|field_value or content.archival|field_value %}            
            <h2 class="archival-header smaller">Archival Material</h2>
            {% if content.archival_note %}
              {{ content.archival_note }}
            {%- endif -%}
            {% if content.archival|field_value %}
              <ul id="archival-container">
                {% for archival in content.full_archivals %}
                  <li class="archival-material">
                    <a href="#" class="archival-collapse" data-toggle="collapse" data-target="#archival-content-{{ loop.index0 }}" aria-expanded="false">
                      {{ archival['#yabrm_contrib_archival'].title.getString() ~ " " }}<i class="fa-solid fa-caret-right"></i><i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div id="archival-content-{{ loop.index0 }}" class="collapse">
                      {{ archival }}
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endif -%}
          <div id="contributor-works">
            {% set cid = content.name['#object'].id() %}
            <h2 class="works-header">Bibliography Items</h2>
            {{ drupal_view('nb_bibliography_citations', 'page_3', cid, cid, cid, cid) }}
          </div>
        </div>
      
        {% if content.picture|field_value 
          or content.cover 
          or content.birth_year|field_value 
          or content.death_year|field_value 
          or content.nb_residences|field_value 
          or content.nble_url|field_value %}
          <div id="contrib-picture" class="col-sm-4 pl-4">
            <figure>
              {% if content.picture|field_value %}
                {{ content.picture|field_value }}
              {% elseif content.cover %}
                {{ content.cover }}
              {% endif %}
              {% if content.pic_caption|field_value %}
                <figcaption>
                  {{ content.pic_caption }}
                </figcaption>
              {% endif %}
            </figure>
          {% if content.birth_year|field_value or content.death_year|field_value %}
            <p><span>
              <b>Dates of Birth and Death: </b>
              {%- if content.birth_year -%}
                {{ content.birth_year|field_value }}
              {%- endif -%}
              -
              {%- if content.death_year -%}
                {{ content.death_year|field_value }}
              {%- endif -%}
            </span></p>
          {% endif %}
          {%- if content.nb_residences|field_value -%}
            <p><span>
              <b>Predominant New Brunswick Residences: </b>
              {%- for i in 0..100 if content.nb_residences[i] -%}
                {%- if not loop.first -%}
                  {{ ", " }}
                {%- endif -%}
                {{ content.nb_residences[i]['#title'] }}
              {%- endfor -%}
            </span></p>
          {%- endif -%}
          {%- if content.nble_url|field_value -%}
            <p><span>
              See the
              <a href="{{ content.nble_url|field_value[0]['#title'] }}">
                New Brunswick Literary Encyclopedia
              </a>
                entry.
            </span></p>
          {%- endif -%}
        {% endif %}
      </div>
    </div>
  </div>

  {% endif %}
</div>
