{#
/**
 * @file yabrm_book.html.twig
 * Default theme implementation to present Book reference data.
 *
 * This template is used when viewing Book reference pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('yabrm-reference', 'yabrm-book', 'contrib-layout') }}>
  {% if content %}
    <div class="container">
      <div class="row">
        <div id="ref-body" class="col-sm-9">

          <ul id="ref-contribs">
            {% for contrib in content.contribs_all %}

              <li><a href="/yabrm/yabrm_contributor/{{ contrib.cid }}">
                {{ contrib.display_name ~ ' (' ~ contrib.role ~ ')' }}
              </a></li>
            {% endfor %}
          </ul>

          <h2>Publication Details</h2>

          <div id="ref-details" class="container">
            <div id="ref-type" class="row">
              <div class="col-sm-6">Item Type</div>
              <div class="col-sm-6">Book</div>
            </div>
            {% if content.series|field_value %}
              <div id="ref-series" class="row">
                <div class="col-sm-6">Series</div>
                <div class="col-sm-6">{{ content.series|field_value }}</div>
              </div>
            {% endif %}
            {% if content.series_number|field_value %}
              <div id="ref-series-num" class="row">
                <div class="col-sm-6">Series Number</div>
                <div class="col-sm-6">{{ content.series_number|field_value }}</div>
              </div>
            {% endif %}
            {% if content.volume|field_value %}
              <div id="ref-volume" class="row">
                <div class="col-sm-6">Volume</div>
                <div class="col-sm-6">{{ content.volume|field_value }}</div>
              </div>
            {% endif %}
            {% if content.num_volumes|field_value %}
              <div id="ref-num-volumes" class="row">
                <div class="col-sm-6">Number of Volumes</div>
                <div class="col-sm-6">{{ content.num_volumes|field_value }}</div>
              </div>
            {% endif %}
            {% if content.edition|field_value %}
              <div id="ref-edition" class="row">
                <div class="col-sm-6">Edition</div>
                <div class="col-sm-6">{{ content.edition|field_value }}</div>
              </div>
            {% endif %}
            {% if content.place|field_value %}
              <div id="ref-place" class="row">
                <div class="col-sm-6">Place of Publication</div>
                <div class="col-sm-6">{{ content.place|field_value }}</div>
              </div>
            {% endif %}
            {% if content.publisher|field_value %}
              <div id="ref-publisher" class="row">
                <div class="col-sm-6">Publisher</div>
                <div class="col-sm-6">{{ content.publisher|field_value }}</div>
              </div>
            {% endif %}
            {% if content.publication_year|field_value %}
              <div id="ref-pub-date" class="row">
                <div class="col-sm-6">Publication Date</div>
                <div class="col-sm-6">{{ content.publication_year|field_value }}</div>
              </div>
            {% endif %}
            {% if content.nb_imprint|field_value %}
              <div id="ref-nb-imprint" class="row">
                <div class="col-sm-6">NB Imprint</div>
                <div class="col-sm-6">{{ content.nb_imprint|field_value }}</div>
              </div>
            {% endif %}
            {% if content.language|field_value %}

              <div id="ref-language" class="row">
                <div class="col-sm-6">Language(s)</div>

                <div class="col-sm-6">
                  {%- for language in content.lang_names -%}
                    {%- if not loop.first -%}
                      {{ ', ' }}
                    {%- endif -%}

                    {{ language }}
                  {%- endfor -%}
                </div>
              </div>
            {% endif %}
            {% if content.isbn|field_value %}
              <div id="ref-isbn-issn" class="row">
                <div class="col-sm-6">ISBN/ISSN</div>
                <div class="col-sm-6">{{ content.isbn|field_value }}</div>
              </div>
            {% endif %}
          </div>
        </div>


        <div id="ref-picture" class="col-sm-3">
          {{ content.cover_image|field_value }}
        </div>
      </div>


      <div id="ref-description">
        {% if content.abstract_note|field_value
        or content.num_pages|field_value
        or content.physical_description|field_value %}
          <b>Description</b>

          {% if content.abstract_note|field_value %}
            <div class="indent-text">
              {{ content.abstract_note|field_value }}
            </div>

          {% endif %}
        {% endif %}
      </div>

      {% if content.physical_description|field_value
      or content.num_pages|field_value %}
        <div id="ref-physical" class="indent-text">
          <span>Physical Description: </span>

          {%- if content.num_pages|field_value[0]['#context']['value'] -%}
            {% set pages = content.num_pages|field_value[0]['#context']['value'] %}
            {{- pages ~ " pp. "-}}
          {%- endif -%}

          {{- content.physical_description|field_value -}}
        </div>

      {% endif %}

      <div id="ref-copies">
        {% if content.archives or content.url|field_value %}
          <b>Copies</b>

          <div class="indent-text">
            {% if content.archives %}
              <ul>
                {% for archive in content.archives %}
                  <li>{{ archive }}</li>
                {% endfor %}
                {% endif %}

                {% set urls = content.url %}
                {% for url in content.url|field_value %}
                  <li>{{ url }}</li>
                {% endfor %}
              </ul>
          </div>

        {% endif %}

      </div>

      <div id="ref-notes">
        {% if content.notes|field_value %}
          <b>Notes</b>


          <div class="indent-text">
            {{ content.notes|field_value }}
          </div>

        {% endif %}
      </div>

      {%- if content.topics|field_value -%}
        <div id="ref-topics">
          <b>Topics: </b>

          <span>
            {%- for topic in content.topics|field_value -%}
              {%- set tname = topic['#options']['entity'].name() -%}
              {%- set tid = topic['#options']['entity'].id() -%}

              {%- if not loop.first -%}
                {{- ", " -}}
              {%- endif -%}

              <a href ="/bibliography?topic_names={{ tname }}">
                {{- tname -}}
              </a>
            {%- endfor -%}
          </span>
        </div>
      {%- endif -%}


    </div>

  {% endif %}
</div>

<div{{ attributes.addClass('yabrm-book', 'yabrm-reference') }}>
  {% if content %}
    <dl>
      <div>
        <dt>Item Type</dt>
        <dd>Book</dd>
      </div>
      <div>
        <dt>{{ content.cover_image|field_label }}</dt>
        <dd>{{ content.cover_image|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.contributors|field_label }}</dt>
        <dd>{{ content.contributors|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publisher|field_label }}</dt>
        <dd>{{ content.publisher|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.place|field_label }}</dt>
        <dd>{{ content.place|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.publication_day|field_label }}</dt>
        <dd>{{ content.publication_day|field_value }}</dd>
      </div>
      <div class="dl-grouped">
        <dt>{{ content.publication_month|field_label }}</dt>
        <dd>{{ content.publication_month|field_value }}</dd>
      </div>
      <div class="dl-grouped">
        <dt>{{ content.publication_year|field_label }}</dt>
        <dd>{{ content.publication_year|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.isbn|field_label }}</dt>
        <dd>{{ content.isbn|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.edition|field_label }}</dt>
        <dd>{{ content.edition|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.language|field_label }}</dt>
        <dd>{{ content.language|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.topics|field_label }}</dt>

        {% set full_topics = "" %}

        {%- for topic in content.topics|field_value -%}
          {% set topic_title = topic['#title'] %}

          {%- if loop.last -%}
            {% set separator = "." %}
          {%- else -%}
            {% set separator = ", " %}
          {%- endif -%}

          {% set full_topics = full_topics ~ topic_title ~ separator %}
        {%- endfor -%}

        <dd>{{ full_topics }}</dd>
      </div>
      <div>
        <dt>{{ content.volume|field_label }}</dt>
        <dd>{{ content.volume|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.num_volumes|field_label }}</dt>
        <dd>{{ content.num_volumes|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.series|field_label }}</dt>
        <dd>{{ content.series|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.series_number|field_label }}</dt>
        <dd>{{ content.series_number|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.collections|field_label }}</dt>
        <dd>
        {%- for collection in content.collections|field_value -%}
          {{ collection }}

        {%- endfor -%}
        </dd>
      </div>
      <div>
        <dt>{{ content.nb_imprint|field_label }}</dt>
        <dd>{{ content.nb_imprint|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.call_number|field_label }}</dt>
        <dd>{{ content.call_number|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.library_catalog|field_label }}</dt>
        <dd>{{ content.library_catalog|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.archive|field_label }}</dt>
        <dd>{{ content.archive|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.physical_description|field_label }}</dt>
        <dd>{{ content.physical_description|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.url|field_label }}</dt>
        <dd>
        {%- for url in content.url|field_value -%}
          {{ url }}

        {%- endfor -%}
        </dd>
      </div>
      <div>
        <dt>{{ content.rights|field_label }}</dt>
        <dd>{{ content.rights|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.abstract_note|field_label }}</dt>
        <dd>{{ content.abstract_note|field_value }}</dd>
      </div>
      <div>
        <dt>{{ content.extra|field_label }}</dt>
        <dd>{{ content.extra|field_value }}</dd>
      </div>
      {% if logged_in %}
        <div>
          <dt>{{ content.notes_private|field_label }}</dt>
          <dd>{{ content.notes_private|field_value }}</dd>
        </div>
      {% endif %}
      <div>
        <dt>{{ content.notes|field_label }}</dt>
        <dd>{{ content.notes|field_value }}</dd>
      </div>
    </dl>
  {% endif %}
</div>
