{#
/**
 * @file yabrm_contributor.html.twig
 * Default theme implementation to present Book Section reference data.
 *
 * This template is used when viewing Contributor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yabrm_book_section()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('yabrm-contributor', 'contrib-layout') }}>
  {% if content %}
    <div class="container">
      <div class="row description-pic">
        {% if content.description|field_value %}
          <div id="contrib-description" class="col-sm-8">
            {{ content.description|field_value }}
          </div>
        {% endif %}
        {% if content.picture|field_value or content.cover %}
          <div id="contrib-picture" class="col-sm-4">
            {% if content.picture|field_value %}
              {{ content.picture|field_value }}
            {% elseif content.cover %}
              {{ content.cover }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div id="contributor-works">
      {% set cid = content.name['#object'].id() %}
      <h2 class="works-label">Bibliography Items</h2>
      {{ drupal_view('nb_bibliography_citations', 'page_3', cid, cid, cid, cid) }}
    </div>
  {% endif %}
</div>
