{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * UNB Libraries branding block implementation.
 * Based on Bootstrap 8.x-3.x block--system-branding-block.html.twig
 * Expected to work best with Bootstrap.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}

{% block content %}
  {{ attach_library('unb_lib_branding_block/branding-css') }}

  {% if site_logo %}
    <a class="logo navbar-btn pull-left" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    {% if is_front %}
      <h1 class="lib-branding-name" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</h1>
    {% else %}
      <a class="lib-branding-name" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    {% endif %}
  {% endif %}
  {% if site_slogan %}
    <p class="navbar-text">{{ site_slogan }}</p>
  {% endif %}
{% endblock %}
